*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.desktop-only{
    display: none;
}
@media screen and (min-width: 1186px) {
    /* larger screens*/
    .desktop-only{
       display: block;
    }
   }
   /* default screen mobile view
      view2:770px ==> 1079
        changes:addition of language nav bar, download buttons are in a column 
      view3: greater than 1080px 
        changes: addition of language on hover list overall layout changes
      */